/* ===== TOP BAR ===== */
.top-bar{
    width:100%;
    display:flex;
    justify-content:flex-end;
    margin-bottom:12px;
}

.search-box{
    display:flex;
    gap:8px;
}

.search-box input{
    padding:10px 12px;
    border-radius:8px;
    border:none;
    outline:none;
    min-width:220px;
}

/* search info */
.search-info{
    width:100%;
    text-align:right;
    margin-bottom:10px;
    font-size:14px;
    opacity:.9;
}

/* ===== PAGINATION ===== */
.pagination{
    margin-top:12px;
    display:flex;
    align-items:center;
    gap:14px;
}

.nav{
    padding:8px 12px;
    font-size:18px;
}

#pageInfo{
    font-size:14px;
    opacity:.9;
}
