body{
 background:#1a0e36;
 font-family:Segoe UI;
 color:white;
 text-align:center;
 padding:40px;
}

.heading{
 font-size:3rem;
 margin-bottom:50px;

 text-align:center;     
 width:100%;            
 margin-left:auto;      
 margin-right:auto;
}

.plate-container{
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 gap:30px;
}

.plate{
 width:280px;
 height:150px;
 display:flex;
 align-items:center;
 justify-content:center;
 text-align:center;
 padding:15px;
 border-radius:14px;
 cursor:pointer;
 font-weight:bold;
 transition:0.5s;
 background:linear-gradient(145deg,#ffd700,#c9a000);
 color:#3a2a6b;
 box-shadow:
 0 0 20px rgba(255,215,0,0.6),
 inset 0 0 15px rgba(255,255,255,0.4);
}

.plate:hover{
 transform:translateY(-10px) scale(1.05);
 box-shadow:0 0 40px gold;
}

.plate:active{
 transform:scale(0.95);
}

.p1{background:linear-gradient(145deg,#ffd700,#f1c40f);}
.p2{background:linear-gradient(145deg,#ffb347,#ffcc33);}
.p3{background:linear-gradient(145deg,#e6b800,#ffd700);}
.p4{background:linear-gradient(145deg,#d4af37,#ffdf00);}
.p5{background:linear-gradient(145deg,#ffda44,#d4af37);}
.p6{background:linear-gradient(145deg,#f7e98e,#ffd700);}
.p7{background:linear-gradient(145deg,#f4c430,#ffdf00);}

.p8{
 background:linear-gradient(145deg,#f7e98e,#ffd700);
}

@media(max-width:600px){
 .plate{width:90%;}

 .heading{
  font-size:2.2rem;
 }
}
